@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary font-sans;
    background-image: url("https://www.transparenttextures.com/patterns/canvas.png");
  }
}
